.nav_btn {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 80%;
  color: rgba(195, 183, 213, 1);
}

.btn-Clear {
  background-image: url("../../../utils/img/Trash-Icon.svg");
  background-repeat: no-repeat;
  background-position: 17% 40%;
  padding-left: 30px;
}

.del_all_borders {
  & .nav_btn {
    border-right: 1px solid rgba(255, 255, 255, 0) !important;
  }
}

.del_undone_borders {
  & .nav_btn {
    border-left: 1px solid rgba(255, 255, 255, 0) !important;
  }
}

.active_nav_btn {
  box-shadow: 0 8px 18px rgba(52, 32, 91, 0.1), 0 0 2px rgba(52, 32, 91, 0.1);
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  & .nav_btn {
    color: rgba(53, 30, 91, 1);
  }
  &:active .nav_btn,
  &:active {
    color: rgba(53, 30, 91, 1) !important;
    background: rgba(247, 244, 249, 1);
    box-shadow: none;
  }
}

.nav_block {
  margin: 1.5% 0 3% 0;
  &-list {
    display: flex;
    justify-content: flex-start;
    padding: 3% 5% 0% 6%;
    &_todo_type {
      width: 90%;
      display: flex;
      &_btn {
        width: 18.3%;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        & .btn-All {
          border-right: 1px solid rgba(247, 244, 249, 1);
        }
        & .btn-Undone {
          border-left: 1px solid rgba(247, 244, 249, 1);
        }
        &:hover .nav_btn {
          color: rgba(130, 114, 153, 1);
        }
        &:active .nav_btn,
        &:active {
          color: rgba(232, 225, 242, 1);
          box-shadow: none;
        }
      }
    }
  }
  &-clear {
    display: flex;
    align-items: center;
    width: 104px;
    z-index: 1;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    &:hover {
      box-shadow: 0 8px 18px rgba(52, 32, 91, 0.1),
        0 0 2px rgba(52, 32, 91, 0.1);
    }
    &:active .btn-Clear,
    &:active {
      box-shadow: none;
      background-color: rgba(247, 244, 249, 1);
    }
  }
}

@media (max-width: 1024px) {
  .btn-Clear {
    background-size: 27%;
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .nav_block-clear {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .nav_block-list {
    flex-direction: column;
    align-items: center;
  }
  .nav_block-list_todo_type {
    justify-content: center;
    width: 100%;
    &_btn {
      width: 30%;
    }
  }
  .nav_block-clear {
    margin-top: 5%;
    width: 30%;
    & button {
      border-radius: 6px;
      background-image: none;
      padding: 1%;
    }
  }
}
