.todos_block {
  height: 500px;
  overflow: auto;
  padding: 0% 5% 0% 5%;
  &-todo {
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(247, 244, 249, 1);
  }
  &-icon {
    background-image: url("../../../utils/img/Undone-Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    &_done {
      background-image: url("../../../utils/img/Done-Icon.svg");
      background-position: 55% 50%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-text {
    width: 86.5%;
    overflow: auto;
    &_done {
      color: rgba(6, 142, 96, 0.3);
    }
  }
  &-trash {
    background-image: url("../../../utils/img/Trash-Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 50%;
    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 18px rgba(52, 32, 91, 0.1),
        0 0 2px rgba(52, 32, 91, 0.1);
      border-radius: 6px;
    }
  }
  &-dnd {
    background-image: url("../../../utils/img/DND-Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 19px;
    height: 46%;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 18px rgba(52, 32, 91, 0.1),
        0 0 2px rgba(52, 32, 91, 0.1);
    }
    &:active {
      background: rgba(247, 244, 249, 1) url("../../../utils/img/DND-Icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.draggable_todo {
  box-shadow: 0 10px 64px rgba(52, 32, 91, 0.1), 0 0 8px rgba(52, 32, 91, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(247, 244, 249, 0) !important;
}
