@import "./tips/tips";

%tips_btn {
  background-position: right 40%;
  height: 30px;
  width: 30px;
  background-image: url("../../utils/img/Tips-Icon.svg");
  background-repeat: no-repeat;
  position: relative;
}

.todo_block-head {
  width: 80%;
  margin: 0 auto;
  padding-top: 32px;
  display: flex;
  align-items: flex-end;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  &-title {
    color: rgba(255, 255, 255, 1);
    width: 30%;
    text-align: end;
  }
  &-tips_btn {
    @extend %tips_btn;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    &_active {
      @extend %tips_btn;
    }
  }
}

@media (max-width: 1024px) {
  .todo_block-head {
    width: 75%;
  }
  .todo_block-head-title {
    width: 40%;
  }
  .nav_block-clear button {
    background-size: 27%;
  }
}

@media (max-width: 800px) {
  .todo_block-head {
    width: 95%;
    &-title {
      width: 254px;
    }
  }
}
